@model ClothesShop.WebUI.Models.ItemViewModel
@using ClothesShop.Domain.Entities
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = (User)System.Web.HttpContext.Current.Session["user"];
}

@if (@Model.Item.Category == null)
{
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/Content/placeholder800.png" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/placeholder800.png" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/placeholder800.png" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
}

    <!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="@Url.Action("GetImage", "Product", new { Model.Item.Id })" style="max-height: 50%; max-width: 50%" alt="No image">
                <div class="caption-full">
                    <h4 class="pull-right">
                        <span class="label label-pill label-primary" style="font-size: 17px;">@Model.Item.Price.ToString("# €")</span>
                    </h4>
                    <h4>
                        <a href="#">@Model.Item.Name</a>
                    </h4>
                    <p>@Model.Item.Description</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">@Model.Reviews.Count reviews</p>
                    <p>
                        @for (int i = 0; i < @Convert.ToInt32(@Model.Item.Rate); i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }

                        @for (int i = 0; i < 5 - @Convert.ToInt32(@Model.Item.Rate); i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                        @Model.Item.Rate stars
                    </p>
                </div>
                <div class="row">
                    @Ajax.ActionLink("Add to Cart", "AddToCart", "Cart",
                        new {id = @Model.Item.Id, returnUrl = Request.Url.PathAndQuery},
                        new AjaxOptions {HttpMethod = "POST"},
                        new {@class = "btn btn-success center-block", @style = "margin-left: auto; margin-right: auto; margin-bottom: 10px; max-width: 100px" })
                </div>
            </div>
            <div class="well">
                @if (currUser == null)
                {
                    <div class="text-right">
                        <p>You need to be Signed In in order to leave a review.</p>
                    </div>
                }
                else
                {
                    if(ViewBag.WasBought == true)
                    { 
                    using (Html.BeginForm())
                    {
                        <div class="row container-fluid">

                            <div class="form-group">
                                <label>Review:</label>
                                <textarea class="form-control" name="Message" rows="5"></textarea>
                            </div>

                            <div class="form-group col-lg-2">
                                <label for="sel1">Rating:</label>
                                <select class="form-control" name="Rate" id="sel1">
                                    <option value="5">5 stars</option>
                                    <option value="4">4 stars</option>
                                    <option value="3">3 stars</option>
                                    <option value="2">2 stars</option>
                                    <option value="1">1 star</option>
                                </select>
                            </div>

                            <div>
                                <input type="text" name="ProductId" value="@Model.Item.Id" style="display: none"/>
                            </div>

                            <input class="btn btn-success pull-right" type="submit" value="Leave a Review" style="margin-top: 20px"/>
                        </div>

                        }
                    }
                    else
                    {
                        <div class="text-right">
                            <p>You need to buy this product in order to leave a review.</p>
                        </div>
                    }
                }
                @if (@Model.Reviews.Count == 0)
                {
                    <p>This items has no reviews yet. Buy it and be first to review!</p>
                }
                @foreach (var review in @Model.Reviews)
                {
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            @for (int i = 0; i < @Convert.ToInt32(review.Rate); i++)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }

                            @for (int i = 0; i < 5 - @Convert.ToInt32(@review.Rate); i++)
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @review.Author
                            <span class="pull-right">   
                            @{ 
                                TimeSpan tr = (@DateTime.Now - review.Date);
                                int days = Convert.ToInt32(tr.TotalDays);

                                if (days != 0)
                                {
                                    @days @Html.Raw("days ago"); 
                                }
                                else
                                {
                                    @Html.Raw("today"); 
                                }
                            }</span>
                            <p>@review.Message</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /.container -->