@using ClothesShop.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Reccomended category for you "@Model.CurrentCategory"
</h3>
<hr />

@if (@Model.Products.Count() != 0)
{
    <div class="row">
        @foreach (var product in @Model.Products)
        {
            @Html.Partial("ProductSummary", product)
        }
    </div>
}
else
{
    <p>Sorry, but no items found by your request.</p>
}


@if (@Model.PagingInfo.TotalPages != 1 && @Model.PagingInfo.TotalPages != 0)
{
    <div class="row text-center">
        <div class="btn-group">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Recommend", new { page = x, category = Model.CurrentCategory}))
        </div>
    </div>
    <br />
}