@model ClothesShop.Domain.Entities.Product

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        @if(@Model.ImageData != null)
        {
        @Html.Raw("<img style='max-width:200px; max-height:350px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(@Model.ImageData) + "\" />")
        }
        <div class="caption">
            <p class="lead text-center">
                <a href="@Url.Action("Item", "Product", new { Id = @Model.Id})">@Model.Name</a>
            </p>

        </div>
        <div class="ratings">
            <p class="pull-right">@Model.ReviewsNumber reviews</p>
            <p>
                @for (int i = 0; i < @Convert.ToInt32(@Model.Rate); i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }

                @for (int i = 0; i < 5 - @Convert.ToInt32(@Model.Rate); i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
            </p>
            <h3 class="text-center strong" style="color: black;">@Model.Price.ToString("# €")</h3>
        </div>
        @Ajax.ActionLink("Add to Cart", "AddToCart", "Cart", 
               new { id = @Model.Id, returnUrl = Request.Url.PathAndQuery}, 
               new AjaxOptions { HttpMethod = "POST" }, 
               new {@class = "btn btn-success center-block", @style="margin-left: auto; margin-right: auto; margin-bottom: 10px; max-width: 100px"})
    </div>
</div>